@import 'root.css';
@import 'joshwcomeau_reset.css';

.nav-days {
    background-color: var(--color-white);
    margin: 65px 0;
    padding: 0;
    z-index: 2;
    width: 90%;
    border-radius: var(--border-radius-small);
    border: 1px solid black;
    height: 50px;
}

.nav-days ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.main-to-dos {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: var(--padding-main);
    display: flex;
    flex-direction: column;
    gap: var(--padding-main);
}

/* WEEKDAY */
.weekday {
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--secondary-color);
}

.weekday:hover {
    background-color: var(--color-primary);
}

.weekday.active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.weekday.lundi {
    border-top-left-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
}

.weekday.dimanche {
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}

/* BOX */
#first-box {
    margin-top: 110px;
}

.white-box {
    display: table;
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius-small);
}

.white-box ul {
    padding: 0;
}

.white-box li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.white-box li label,
.white-box li p,
.trash-button {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.white-box li p {
    width: 100%;
}

.trash-button {
    background-color: inherit;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
    width: 1%;
}

.container {
    cursor: pointer;
}

.container input {
    display: none;
}

.container svg {
    overflow: visible;
    width: 20px;
    height: 20px;
}

.path {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-all 0.3s ease;
    stroke-dasharray: 240 9999999;
    stroke-dashoffset: 0;
}

.path.checked {
    stroke-dashoffset: 0;
    stroke: #19ca1f;
}

.container input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

.ajout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-primary);
    height: 25px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 15px rgb(239, 239, 239);
    cursor: pointer;
}